doctype html
html
head
title=title
body
    h1  Lista de Productos


         each chat in producto
           
            li id - #{chat.producto_id} ,  precio - #{chat.precio}  , descripcion - #{chat.descripcion}
          






   